

 button,
 input[type="submit"] {
   padding: 5px 20px;
   margin: 0 10px 10px 0;
   font-size: 18px;
   color: #fff;
   cursor: pointer;
   background: #659a98;
   border: 0;
   border-radius: 5px;
   box-shadow: 2px 2px 3px #bbb;
 }
 button:hover,
input[type="submit"]:hover {
  background: #334e4d;
}
button.active {
    background: #334e4d;
}  

h2 {
    
    color:white !important;
    padding: 0px !important;
}
.inlist {
    border: olive !important;
    background-color: greenyellow !important;
    color: black !important;
    font-family:cursive;
}

#b1,
#b2 {
    background-color: greenyellow !important;   
    border:1px solid green;
    
}
.crystalOne {
    border:1px solid green;
    height: 178px;
    width: 178px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.crystalOne:hover {
    box-shadow: 15px 15px 15px rgda(00,0,0.5);
    transform: translate(5px,80px);
    cursor: pointer;
    transition: box-shadow 1s,transform 2s;
}

